@model projeto_tcm.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

@Styles.Render("~/Content/Login.css")

@using (Html.BeginForm("VerificarUsuario", "Login", FormMethod.Post))
{
    <fieldset>
        <div id="login-container">
            <div class="form-input">
                <div align="center">
                    <img src="~/Content/imagens/logo.png" width="180" height="200" />
                </div>
                <br />
                <div class="form-text-input">
                    @Html.LabelFor(m => m.nome_usuario)
                </div>
                <div class="text">
                    @Html.TextBoxFor(m => m.nome_usuario)
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.nome_usuario)
                </div>
                <div class="form-text-input">
                    @Html.LabelFor(m => m.senha)
                </div>
                <div class="text">
                    @Html.PasswordFor(m => m.senha)
                </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.senha)
                    </div>
                <br />
                <div class="form-button">
                    <input type="submit"  class="btn btn-danger btn-lg" value="Entrar" />
                </div>
            </div>
        </div>
    </fieldset>
}
