<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/map")
    @Styles.Render("~/Scripts/js")
    @Styles.Render("~/Scripts/map")
</head>
<body>
    @if (Session["usuario"] != null)
    {
        <div class="nav-cima">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="~/Content/imagens/logo_lateral.png" width="110" height="35" /></a>
            </nav>
        </div>
    }

    <div class="body-wrapper">
        @if (Session["usuario"] != null)
        {
            <div class="navbar-wrapper">
                <ul class="nav flex-column">
                    <!--<li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"> Início</span></a>
    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"> Início</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Cadastro")"><span class="glyphicon glyphicon-user"> Cadastro</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Comanda/Comanda")"><span class="glyphicon glyphicon-edit"> Comanda</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Mesa")"><span class="glyphicon glyphicon-ok"> Mesas</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Item/Item")"><span class="glyphicon glyphicon-shopping-cart"> Item</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Pagamento/Pagamento")"><span class="glyphicon glyphicon-ok"> Pagamento</span></a>
                    </li>
                </ul>
            </div>
        }

        <div class="container body-content">
            @if (Session["usuario"] != null || HttpContext.Current.Request.AppRelativeCurrentExecutionFilePath.Contains("Login"))
            {
                @RenderBody()
            }
            else
            {
                Context.Response.Redirect("/Login");
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
