@model projeto_tcm.Models.Comanda
@{
    /**/

    ViewBag.Title = "Consulta de comanda";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <br />
    <div align="center">
        <p> Comanda</p>
    </div>

    <div align="center">
        @Html.LabelFor(m => m.idComanda)

        @Html.EditorFor(m => m.idComanda)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.dataComanda)

        @Html.EditorFor(m => m.dataComanda)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.horarioComanda)

        @Html.EditorFor(m => m.horarioComanda)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.mesaComanda)

        @Html.EditorFor(m => m.mesaComanda)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.itemComanda)

        @Html.EditorFor(m => m.itemComanda)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.quantidadeComanda)

        @Html.EditorFor(m => m.quantidadeComanda)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.funcionarioComanda)

        @Html.EditorFor(m => m.funcionarioComanda)
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div align="left">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-left"> Voltar</span></button>
    </div>
}