@model projeto_tcm.Models.Mesa
@{
    ViewBag.Title = "Mesas";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <br />
    <div align="center">
        <p> Cadastrar mesa</p>
    </div>

    <div align="center">
        @Html.LabelFor(m => m.idmesa)

        @Html.EditorFor(m => m.idmesa)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.mesa)

        @Html.EditorFor(m => m.mesa)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.statusmesa)

        @Html.EditorFor(m => m.statusmesa)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.assentos)

        @Html.EditorFor(m => m.assentos)
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div align="left">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-left"> Voltar</span></button>
    </div>

}

