@model projeto_tcm.Models.Item
@{
    /**/

    /**/

    ViewBag.Title = "Itens";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div align="center">
        <p>Adicionar item</p>
    </div>

    <div align="center">
        @Html.LabelFor(m => m.NomeItem)

        @Html.EditorFor(m => m.NomeItem)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.PrecoItem)

        @Html.EditorFor(m => m.PrecoItem)
    </div>

    <br />

    <div align="center">
        @Html.LabelFor(m => m.DescItem)

        @Html.EditorFor(m => m.DescItem)
    </div>

    <br />

    <div align="center">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok"> Adicionar</span></button>
    </div>

    <hr />

    <div align="center">
        <p> Consultar Item</p>
    </div>

    <div align="center">
        @Html.LabelFor(m => m.IdItem)

        @Html.EditorFor(m => m.IdItem)
    </div>

    <br />

    <div align="center">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"> Excluir</span></button>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok"> Consultar</span></button>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div align="right">
        <button type="submit" class="btn btn-danger"> <span class="glyphicon glyphicon-th-list"> Visualizar todos</span></button>
    </div>

}