@model projeto_tcm.Models.Mesa
@{
    ViewBag.Title = "Mesas";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <br />
    <div align="left">
        <a class="nav-link" href="@Url.Action("Mesas")"><span class="glyphicon glyphicon-chevron-left"> Voltar </span></a>
    </div>

    <div align="center">
        <p>mesa</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.idmesa)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.idmesa)
            </div>
            <div class="col-lg-5"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.mesa)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.mesa)
            </div>
            <div class="col-lg-5"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.statusmesa)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.statusmesa)
            </div>
            <div class="col-lg-5"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.assentos)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.assentos)
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
        }

