@model projeto_tcm.Models.Mesaa
@{
    /**/

    ViewBag.Title = "Mesas";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm("CadastrarMesas", "Mesa", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <br />
    <div align="center">
        <p> Cadastrar mesa</p>
    </div>
    <div align="center">
            <div class="alinhamento">
                @Html.LabelFor(m => m.mesa)
                @Html.EditorFor(m => m.mesa)
                @Html.ValidationMessageFor(model => model.mesa)
            </div>
            <div class="alinhamento">
                @Html.LabelFor(m => m.assentos)

                @Html.EditorFor(m => m.assentos)

                @Html.ValidationMessageFor(model => model.assentos)
            </div>
            <div class="alinhamento">
                @Html.LabelFor(m => m.statusmesa)

                @Html.EditorFor(m => m.statusmesa)

                @Html.ValidationMessageFor(model => model.statusmesa)
            </div>
        </div>

    <br />

    <div align="center">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"> Adicionar</span></button>
    </div>
}
<hr />

@using (Html.BeginForm("ConsultarMesas", "Mesa", FormMethod.Get))
{
    <div align="center">
        <p> Consultar mesas</p>
    </div>

    <div align="center">
        <label for="idMesa">ID:</label>
        <input id="idMesa" type="tel" name="idMesa" />
    </div>

    <br />

    <div align="center">
        <button type="submit" class="btn btn-danger" formaction=@Url.Action("DeletarMesa") formmethod="post"><span class="glyphicon glyphicon-remove"> Excluir</span></button>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"> Consultar</span></button>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}

    <div align="right">
        <a class="btn btn-warning" href="@Url.Action("ListarTodasMesas")"><span class="glyphicon glyphicon-th-list"></span>  Visualizar todas</a>
    </div>

