@model projeto_tcm.Models.Comanda
@{
    /**/

    ViewBag.Title = "Consulta de comanda";
}

@Styles.Render("~/Content/css")

@section scripts{
    <script type="text/javascript">
        function obterViewAdd() {
            $.ajax({
                url: '/Comanda/AdicionarComandaView',
                type: 'GET',
                success: function (data) {
                    $('#adicionarItem').html(data);
                }
            });
        }

        function obterItens(id) {
            $.ajax({
                url: `/Comanda/ListarItensComanda?idComanda=${id}`,
                type: 'GET',
                success: function (data) {
                    $('#listaItens').html(data);
                }
            });
        }

        function adicionarItemAComanda() {
            var formData = $("#adicionarItemForm").serialize();
            formData = `${formData}&id_comanda=${queryParam('idComanda')}`

            $.ajax({
                url: '/Comanda/AdicionarItem',
                type: 'POST',
                data: formData,
                success: function (data) {
                    $('#adicionarItemForm')[0].reset();
                    obterItens(queryParam('idComanda'));
                    alert("Item Adicionado!");
                }
            });
        }

        function excluirItemComanda(id) {
            $.ajax({
                url: `/Comanda/DeletarItem?idItemComanda=${id}`,
                type: 'DELETE',
                success: function (data) {
                    obterItens(queryParam('idComanda'));
                    alert("Item Deletado!");
                }
            });
        }

        function queryParam (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : false;
        }

        $(document).ready(function () {
            obterItens(queryParam('idComanda'));
            obterViewAdd();
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <br />
    <div align="left">
        <a class="nav-link" href="@Url.Action("Comanda")"><span class="glyphicon glyphicon-chevron-left"> voltar </span></a>
    </div>

    <div align="center">
        <p> Comanda</p>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.idComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.idComanda)
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.dataComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.dataComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.horarioComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.horarioComanda)
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.mesaComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.mesaComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.itemComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.itemComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.statusComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.statusComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

}
<hr />
<div id="adicionarItem"></div>
<hr />
<div id="listaItens"></div>