@model projeto_tcm.Models.Comanda
@{
    /**/

    ViewBag.Title = "Consulta de comanda";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <br />
    <div align="left">
        <a class="nav-link" href="@Url.Action("Comanda")"><span class="glyphicon glyphicon-chevron-left"> voltar </span></a>
    </div>

    <div align="center">
        <p> Comanda</p>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.idComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.idComanda)
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.dataComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.dataComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.horarioComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.horarioComanda)
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.mesaComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.mesaComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.itemComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.itemComanda)
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1 custom-info text-center">
                @Html.LabelFor(m => m.quantidadeComanda)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.quantidadeComanda)
            </div>
            <div class="col-lg-3"></div>
        </div>
        <br />
        <div align="center">
            @Html.LabelFor(m => m.quantidadeComanda)
            @Html.EditorFor(m => m.quantidadeComanda)
        </div>
    </div>

}