@model projeto_tcm.Models.Mesaa
@{
    ViewBag.Title = "Mesas";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm("CadastrarMesa", "Mesaas", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <br />
    <div align="center">
        <p> Cadastrar mesa</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.mesa)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.mesa)
            </div>
            <div class="col-lg-5"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.assentos)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.assentos)
            </div>
            <div class="col-lg-5"></div>
        </div>
        <br />       
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 custom-info text-center">
                @Html.LabelFor(m => m.statusmesa)
            </div>
            <div class="col-lg-1">
                @Html.EditorFor(m => m.statusmesa)
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
    <br />

    <div align="center">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok"> Adicionar</span></button>
    </div>

    <hr />

    <div align="center">
        <p> Consultar mesa</p>
    </div>

    <div align="center">
        @Html.LabelFor(m => m.idmesa)

        @Html.EditorFor(m => m.idmesa)
    </div>

    <br />

    <div align="center">
        <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-remove"> Excluir </span></a>
        <a class="btn btn-danger" href="@Url.Action("ConsultarMesas")"><span class="glyphicon glyphicon-ok"> Consultar </span></a>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div align="right">
        <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-th-list"> Visualizar todas</span></a>
    </div>

}

