@model projeto_tcm.Models.FuncionarioModel

@{
    /**/

    ViewBag.Title = "Cadastro";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm("CadastrarFuncionario", "Funcionario", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <br />
    <div align="center">
        <p>Cadastrar funcionário</p>
    </div>
    <div align="left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.nomeCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.nomeCadastro)
                    @Html.ValidationMessageFor(model => model.nomeCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.telefoneCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.telefoneCadastro)
                    @Html.ValidationMessageFor(model => model.telefoneCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.funcaoCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.funcaoCadastro)
                    @Html.ValidationMessageFor(model => model.funcaoCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.enderecoCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.enderecoCadastro)
                    @Html.ValidationMessageFor(model => model.enderecoCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.cpfCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.cpfCadastro)
                    @Html.ValidationMessageFor(model => model.cpfCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.nivelCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.nivelCadastro)
                    @Html.ValidationMessageFor(model => model.nivelCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.usuarioCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.usuarioCadastro)
                    @Html.ValidationMessageFor(model => model.usuarioCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.senhaCadastro)
                </div>
                <div class="col-lg-2">
                    @Html.PasswordFor(m => m.senhaCadastro)
                    @Html.ValidationMessageFor(model => model.senhaCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"> Adicionar</span></button>
    </div>
}
<hr />

@using (Html.BeginForm("ConsultarCadastro", "Funcionario", FormMethod.Get))
{
    <div align="center">
        <p> Consultar funcionário</p>
    </div>

    <div align="center">
        <label for="idFunc">ID:</label>
        <input id="idFunc" type="tel" name="idFunc"/>
    </div>
    <br />

    <div align="center">
        <button type="submit" class="btn btn-danger" formaction=@Url.Action("DeletarCadastro") formmethod="post"><span class="glyphicon glyphicon-remove"> Excluir</span></button>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"> Consultar</span></button>
    </div>
}

<br />
<br />
<br />
<br />
<br />

<div align="right">
    <a class="btn btn-warning" href="@Url.Action("ListarTodos")"><span class="glyphicon glyphicon-th-list"></span>  Visualizar todos</a>
</div>