@model projeto_tcm.Models.Pagamento

@{
    ViewBag.Title = "Pagamento";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm("CadastrarPagamento", "Pagamento", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <br />
    <div align="center">
        <p>Registrar pagamento</p>
        <br/>
    </div>
    <div align="left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.comandaPagamento)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.comandaPagamento)
                    @Html.ValidationMessageFor(model => model.comandaPagamento)
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.totalPagamento)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.totalPagamento)
                    @Html.ValidationMessageFor(model => model.totalPagamento)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.cpfPagamento)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.cpfPagamento)
                    @Html.ValidationMessageFor(model => model.cpfPagamento)
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.tipoPag)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.tipoPag)
                    @Html.ValidationMessageFor(model => model.tipoPag)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.totalPago)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.totalPago)
                    @Html.ValidationMessageFor(model => model.totalPago)
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.trocoPagamento)
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(m => m.trocoPagamento)
                    @Html.ValidationMessageFor(model => model.trocoPagamento)
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>

    </div>
    <div align="center">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"> Adicionar </span></button>
    </div>
}
    <hr />

    @using (Html.BeginForm("ConsultarPagamento", "Pagamento", FormMethod.Get))
    {
        <div align="center">
            <p> Consultar Pagamento</p>
        </div>

        <div align="center">
            <label for="idPagamento">ID:</label>
            <input id="idPagamento" type="tel" name="idPagamento" />
        </div>
        <br />

        <div align="center">
            <button type="submit" class="btn btn-danger" formaction=@Url.Action("DeletarPagamento") formmethod="post"><span class="glyphicon glyphicon-remove"> Excluir</span></button>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"> Consultar</span></button>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div align="right">
            <a class="btn btn-warning" href="@Url.Action("ListarTodosPagamentos")"><span class="glyphicon glyphicon-th-list"></span>  Visualizar todos</a>
        </div>

    }