@model projeto_tcm.Models.Cadastro

@{

    ViewBag.Title = "Consulta de cadastro";
}

@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <br />
    <div align="left">
        <a class="nav-link" href="@Url.Action("Cadastro")"><span class="glyphicon glyphicon-chevron-left"> Voltar </span></a>
    </div>
    <div align="center">
        <p><b>Usuário</b></p>
    </div>
    <div align="left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.idCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.idCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.nomeCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.nomeCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.telefoneCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.telefoneCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.funcaoCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.funcaoCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.telefoneCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.telefoneCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.cpfCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.cpfCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.nivelCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.nivelCadastro)
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-1">
                    @Html.LabelFor(m => m.usuarioCadastro)
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(m => m.usuarioCadastro)
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
 

}